body{
    margin: 0;
    padding: 0;
    background-image: url(./images/tpjJqT.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#Bike{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

#cont{
    width: 80%;
    display: flex;   
    justify-content: space-between;
}
#cont div{
    width: 25%;
    background-color: rgba(20, 3, 24, 0.616);
    color: rgb(240, 228, 228);
    border-radius: 5px;
}
#cont div img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
   
}
#cont div h1{
    text-align: center;
}
#cont div p{
    text-align: center;
    padding: 20px;
}
#cont div img:hover{
    transform: scale(1.2);
    transition: 1s;
}