body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-image: url(./images/bmw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
}
footer section{
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 40px 40px;
}

footer ul{
    list-style-type: none;
  padding: 0; 
  margin: 0; 
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 100;
}