body{
    margin: 0;
    padding: 0;
    background-image: url(./images/cb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

#cont{
    width: 80%;
    /* background-color: white; */
    display: flex;   
    justify-content: space-between;
}
#cont div{
    width: 25%;
    background-color: rgba(54, 46, 46, 0.381);
    color: white;
    border-radius: 5px;
}
#cont div img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    opacity: 0.5;
}
#cont div h1{
    text-align: center;
}
#cont div p{
    text-align: center;
    padding: 20px;
}
#cont div img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: 3s;
}