body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: white;
}
main{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main form {
    width: 30%;
    background-color: rgb(196, 236, 241);
    padding: 30px;
    border-radius: 5px;
}
label,#user,#pass,a{
    display:block;
}
label{
    font-size: 30px;
}
#user,#pass{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;     
    margin-bottom: 10px;
}
main form div{
    display: flex;
    justify-content: space-between;
}
button{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: rgb(119, 255, 0);
    
}
#cl{
    background-color: red;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}
#user::placeholder{
    color: red;
}
#pass::placeholder{
    color: red;
}
.fa-brands.fa-instagram{
    color: red;
    font-size: 30px;
    }
    
