#bmw{
    width: 500px;
    height: 500px;
    border: 2px solid yellow;
    /* padding: 10px 10px 10px 10px; */
    /* padding: 10px 10px; */
    padding: 10px;
    /* margin: 10px 10px 10px 10px; */
    margin-top: 20px;
    margin-left: 20px;
    /* background-color: aqua; */
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px black;
    /* filter: blur(20px); */
    filter: brightness(2);
}
#bmw:hover{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transform: rotate(720deg);
    transition: transform 10s;
  
}

h1{
    margin: 0px;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
