#sing{
    color: rgb(9, 229, 237);
}
body{
    background-image: linear-gradient(rgb(24, 123, 157),rgb(221, 51, 82),rgb(142, 141, 128));
}

#sd{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 100%;
    box-shadow: 10px 10px 10px 10px black;
}
#sd:hover{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transform: rotate(720deg);
    transition: transform 10s;
}
    
   
    

    



}

