body{
    background-image: url(./image/bmw-squad-bike-and-cars.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Tektur', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 252, 252);
    margin-bottom: 5rem;
}

header{
    background-color: white;
   display: flex;
    justify-content: space-between;
   padding: 1rem 10%;
}
header #left img{
width: 75%;
}

#cont{
    list-style-type: none;
    display: flex;
    gap: 2rem;
  
}

#cont li a{
   
    color: rgb(11, 9, 9);
    
}
#cont a{
 
    /* border-bottom: dotted; */
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;

}



   #menu{
    font-size: 1.4rem;
    list-style-type: none;
    margin: 0;
    padding: 25px;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 230%;
   display: none;
   
}
#drop{
    position: relative;
}
#menu >li >a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    border-bottom: 2px solid rgb(71, 69, 69);
}

#drop:hover #menu{
   display: block;
}

#menu >li >a:hover{
    background-color: rgba(5, 152, 243, 0.87);
    color: white;
}

hr{
    height: 3px;
    background-color: white;
    border: none;
    margin-top: 41.2rem ;
}
#hr1{
    background-color: black;
    height: 3px;
    border: none;
    margin-top: 8.2rem ;
}

#container{
    width: 80% ;
    height: 100vh;
    background-image: url(image/BMW3.png);
    background-size: cover;
    background-position: center;
    padding: 20px 10%;

}

#container #logo{
width: 10%;
}

#content{
    margin-top: 10%;
}

#content h2{
   color: black;
  
    font-size: 43px;
}

#content h1{
    font-size: 100px;
    color: rgb(11, 125, 239);
    margin-top: -25px;
}

#content p{

    max-width: 370px;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

#bm{
    text-align: center;
    font-weight: 900;
}

main{
    display: flex;
    justify-content: center;
}

#card{
    background-color:lightblue ; 
    width: 98%;
    display: flex;
    justify-content: space-between;
}

#card > div{
    width: 30%;
 
   overflow: hidden;
   
}

#card> div > img{
        width: 112%;
        height: 500px;
      
}

#card> div > h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: black;
    letter-spacing: 8px;
}

#card> div > h4{
    text-align: center;
    font-weight: 500;
}

#card> div > button{
    color: black;
    background-color: white;
    width: 80%;
    height: 50px;
    align-items: center;
    border: 2px solid rgba(255, 0, 0, 0.397);
    border-radius: 5px;
    justify-content: center;
    margin-right: 1rem;
}

#card > div > img:hover{
    transform: scale(1.2);
    transition: 1s;
   
}

#card> div > button:hover{

    color: white;
    background-color: rgb(91, 162, 248);
}   

footer{

    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 40px 0px;
    width: 100%;


}

#left1 >button{
    width: 25%;
    height: 50px;
    border: none;
    background-color: rgb(81, 81, 81);
    color: white;
    font-size: 1rem ;
    font-weight: 600;
    margin-left: 5rem;
}

#left1 >button:hover{

    background-color: black;
}

#left1 #logo{
    display: flex;
   gap: 1rem;
   margin-left: 5rem;
   color: rgb(81, 81, 81) ;
   height: 10px;
}

#left1 #logo:hover{
    color: black;
  
}

#right1{
 width: 40%;   
 border-left: 2px solid gray;
 display: flex;
 margin-left: 55rem;


}

#right1 > ul{
list-style-type: none;
margin: 0;


}

#right1  a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
  

}

#horror{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
       
 
}

#end select{
    margin-left: 15px;
    border-radius: 50px;
    display: flex;
    height: 30px;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    font-size: 1rem;
   
}

#end select:hover{
    background-color: black;
  
}

.fa-globe{
    color: white;
    position: absolute;
    top: 375.2rem;
    left: 5rem;
    font-size: 1.3rem;
}

#aa{
    position: absolute;
    top: 380rem;
    font-size: 15px;
    color: gray;
    margin-left: 1rem;
    
}

#aa:hover{
 
    color: black;
}