body{
    padding: 0;
    margin: 0;
    background-image: url(./image/netflix\ back\ img.jpg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-color: black;
    margin-bottom: 5rem;
    
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
}
header #left img{
width: 87%;
}

header #right{
   margin-left: 52rem;
    display: flex;
    gap: 1rem;
    position: relative;
}
header #right select{
    background-color: rgba(0, 0, 0, 0.448);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}

#word{
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    
}

#but{
    width: 5.4rem;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 2px solid red;
   
}

select #eng{
    background-color:white;
    color: black;
}

header #right #hindi{
    background-color:white;
    color: black;
}   
                        

#login{
    text-align: center;
    color: white;
    margin-top: 9rem;
}

h1{
    font-size: 3rem;
    font-weight: 900;
}

#login > p{
    font-size: 1.9rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



 #ptag{
    
        font-size: 1.4rem; 
        font-weight: 400;
        line-height: 1.875rem;
        margin-top: 0;
     }
 
 #mail{
    background-color: rgba(61, 60, 60, 0.007);
    width: 25%;
    height: 3.7rem;
    border-radius: 5px;
    border: 2px solid green;
    
    
 }
 

 #get{
    color: white;
    background-color: red;
    width: 15% ;
    height: 3.82rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
   padding-top: 8px;
   justify-content: center;
   padding-bottom: 8px;
 }

 .fa-angle-right{
    font-size: 1.5rem;
    font-weight: 0.5rem;
 }

 #tv{
   background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem;
    min-height: auto
    margin-bottom: 8rem;
 }

 #enjoy{
  text-align: center;
    width: ;
    color: white;
 }

 #enjoy>h2{
    font-size: 2.5rem;

 }

 #enjoy>p{
   
    font-size: 1.6rem;
 }
#tv-video{

  
    width: 48%;
    position: relative;
}

#tv-video>img{
    position: relative;
    width: 100%;
    z-index: 2;
}

#tv-video>video{
    position: absolute;
    left: 13%;
    top: 20.5%;
    width: 74%;
    z-index: 1;
}
hr{
    height: 3px;
    background-color: #4a4949;
    border: none;
    margin-top: 4rem ;
}

#laptop{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 12rem;
    align-items: center;
    padding :4rem 0rem;
    min-height: auto;
    margin-bottom: 8rem;
    
}

#laptop div{
    width: 45%;
}
#mix >h2{
    font-size: 3.5rem;

}
#mix >p{
    font-size: 1.5rem;
}
#laptop #saif{
    position: relative;

}
#laptop #saif img{
    width: 100%;
    position: relative;
    z-index: 2;
    
}
#laptop #saif video{
    position: absolute;
    top: 10.5%;
    left: 18%;
    width: 63%;
    z-index: 1;
}
#create{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top:5rem ;
    margin-bottom:8rem ;
    width: 80%;
    }
#create div{
      width:46% ;
}
#kids> h1{
    font-size: 3.5rem;

}
#kids> p{
font-size: 1.5rem;
font-weight: 400;    


}
#create> img{
    width: 110%;    

}

#download{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}
#download #mobile{
    width:45% ;
    position: relative;
}
#download #mobile #ele{
    width: 100%;
}
#download #offline{
    width: 45%;
}



#download #offline h1{
    font-size:3rem
}
#download #offline p{
    font-size: 1.5rem;
    font-weight: 100;
}

#box{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(151, 148, 148);
    width: 60%;
    margin: auto;
    border-radius: 12px;
    padding: 0.5rem;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left: 17%;
    background-color: black;
   
}
#box #strange{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0px;

}
#box #strange img{
    width: 90%;
}
#box #strange h3{
    font-size: 0.9rem;
    font-weight: 100;
    
}
#box #strange > p{
    color: #0042ce;
}
#box #gif >img{
    width: 100%;
}
#box #gif{
    width:15%;
}



#faq{
   
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 3rem;
}

#faq>h2{
    text-align: center;
    font-size: 2.5rem;
}

#faq>.faq-cont>.que{
        display: flex;
        justify-content: space-between;
        background-color: #2d2d2d;
        padding: 0rem 1rem;
}

#faq>.faq-cont>.que>h3{
font-size: 1.5rem;

}

.ans{
    background-color: #2d2d2d;
    padding: 1rem 2rem 1rem 1rem;
    margin-top: 2px;
    position: relative;
    display: none;
}

.ans>p{
    margin: 0;
    font-size: 1.3rem;
}

.faq-cont{
    margin-top: 8px;
    
}

.faq-cont:hover .ans{
    display: block;
}

#login1{
   text-align: center;
   margin-bottom: 1rem;
}
#Ready{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
footer{
   
    color: #9d9d9d;
    display: inline-block;
    justify-content: space-between;
    padding: 0px 40px 40px 190px;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    
}


#left{
 text-align: center;
    gap: 6rem;
    width: 60%;
   
    display: flex;


}
 
#left>ul{
    list-style-type: none;
    display: block;
  
 

}


#left a{
  
   
    color: #9d9d9d;
  
    display: block;
    padding: 5px;
}



#right{
    gap: 6rem;
    width: 60%;
   
    display: flex;


}
 
#right>ul{
   
    list-style-type: none;
    display: block;
    text-align: center;
 

}


#right a{
  
    color: #9d9d9d;
  
    display: block;
    padding: 5px;
}


#qq{
    font-size: 1rem;
    
    left: 1rem;
    margin-bottom: 0.75rem
}

span{
    border-bottom: 2px solid #9d9d9d;
}

#eh select{
    background-color: rgba(0, 0, 0, 0.448);
    color: white; 
     padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}

#eh .fa-language {
    color: white;
position: absolute;
top: 4475px;
    left: 197px ;
   
} 



/* ------------------------------------------MOBILE VERSION--------------------------------------------------- */




@media( max-width:600px){

    body{
        
        background-size: 300%;
        background-color: black;
        margin-bottom: 2rem;
        
        
    }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
}


header #left img{
width: 70%;
}

header #right{
    display: flex;
    gap: 1rem;
    position: relative;
}
header #right select{
   
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 5px;
   
}

#but{
    width: 4rem;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 2px solid red;
   
   
}

h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

#login > p{
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#ptag{
    
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

#mail{
    background-color: rgba(61, 60, 60, 0.007);
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid green;
    margin-bottom: 1rem;
     
    
 }
 

 #get{
   
    width: 50% ;
    height: 3.82rem;
    border: none;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1.4rem;
   padding-top: 8px;
   justify-content: center;
   
 }

 

    #tv{
        
         width: 95%;
         
         display: block;
        
        
      }

      hr{
        height: 6px;
        background-color: #4a4949;
        border: none;
        margin-top: 4rem ;
        display: flex;
        width: 100%;
    }





#enjoy{
    width: 100%;
    text-align: center;

}
#enjoy>h2{
    font-size: 2rem;

 }

 #enjoy>p{
   
    font-size: 1.2rem;
 }

 #tv-video{

  
    width: 100%;
    position: relative;
}

#laptop{
    display:block;
    color: white;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    margin-top: 12rem;
    align-items: center;
 
   
   
    
}

#laptop div{
    width: 250%;
}
#mix >h2{
    font-size: 2.8rem;
    font-weight: 700;

}
#mix >p{
    font-size: 1.125rem;
    font-weight: 400;
}


#create{
   
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top:5rem ;
    margin-bottom:8rem ;
    width: 80%;
    flex-direction: column-reverse;
   
    }
#create div{
      width:46% ;
}
#kids> h1{
    width: 1rem;
    margin: 1.2rem 0 0;
    font-size: 2rem;
    font-weight: 400;

}
#kids> p{
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;    


}
#create> img{
    width: 110%;  
    flex-direction: column-reverse;

   

}

#download{
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    
  
  
}


#download #mobile{
    width:180% ;
    position: relative;
   
}
#download #mobile #ele{
    width: 100%;
   
}
#download #offline{
    width: 65%;
   
}



#download #offline h1{
    font-size:2rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
#download #offline p{
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;
    
}




















}

