h1{
    text-align: center;
}
table{
    border: 2px solidss;
    border-collapse: collapse;
}

th{
    border: 2px solid;
    
} 
  td{
    border: 2px solid;
 }  

  body{
    background-image: linear-gradient(white,rgb(123, 206, 236),white);
  }

  h1{
    text-shadow: 5px 20px 13px gray;
  }

  


  #RE:hover{
    color: skyblue;
    font-size: 80px;
    text-transform: uppercase;
    transition: 5s;
  }

 