body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:url(./image/pexels-indiana-barriopedro-18028809.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner{
    width: 100%;
    height: 100vh;
}
.logo{
    width: 25%;
}

.navbar{
    width: 85%;
    margin:auto ;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}