/* h1{
    display: inline;
}
a{
    display: block;
} */
h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 20px;
    word-spacing: 50px;
    font-size: 60px;
    color: red;
    text-shadow: 5px 21px 13px black;
    font-weight: 100;
}
#MI:hover{
    color: skyblue;
    font-size: 80px;
    text-transform: uppercase;
    transition: 5s;
}