
a{
    text-decoration: none;
}
#nav1{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: -8
    px;
}

#left1{
    display: flex;
}
#cent{
    display: flex;
}
#right1{
    display: flex;
}
a{
     color: white;
     padding: 20px;
}
a:hover{
    color: crimson;
    background-color:rgb(88, 210, 235);
   
}
 body{
    background-image: url(./images/web\ img.avif);
    background-repeat: no-repeat;
  
}  